[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
reportlab = "~=3.6.1"

[dev-packages]
flake8 = "*"
autoflake = "*"
python-language-server = "*"
importmagic = "*"
epc = "*"

[requires]
python_version = "3.9"
