[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
reportlab = "~=3.6.1"

[dev-packages]
flake8 = "*"
autoflake = "*"
importmagic = "*"
epc = "*"
pytest = "*"
pycontracts3 = ">=3.0.2"
python-lsp-server = "*"

[requires]
python_version = "3.9"
